
@{
    ViewData["Title"] = "Forbidden_403";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center mt-5">
    <div class="col-lg-6">
        <div class="pr-5">
            <h1 class="display-2 text-light font-weight-bold nb-0">403 Forbidden</h1>
            <h2 class="display-4 text-light font-weight-light">You dont have accesss</h2>
            <p class="text-light mt-4">Ask administrator for help</p>
            <div class="mt-5">
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
    </div>
</div>