
@{
    ViewData["Title"] = "NotFound_404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row align-items-center mt-5">
    <div class="col-lg-6">
        <div class="pr-5">
            <h1 class="display-2 text-light font-weight-bold nb-0">404 Not Found</h1>
            <h2 class="display-4 text-light font-weight-light">Sorry, this page isn't available</h2>
            <p class="text-light mt-4">Are you sure the website URL is correct?</p>
            <div class="mt-5">
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
    </div>
</div>